*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #196b10;
}

#geraLink{
    background-color: white;
    width: 380px;
    height: 180px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
/* controla o container "gera link" no desktop */   
}


#geraOLinkDesktop{
    background-color: #196b10;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10px;

}

#abreOLinkDesktop{
    background-color: #196b10;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10px;

}

#geraOLInkMobile{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 45px;
    background-color: #196b10;
    border: none;
    border-radius: 10px;
}

#abreOLinkMobile{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 45px;
    background-color: #196b10;
    border: none;
    border-radius: 10px;
}

#geraLink input{
    border-radius: 10px;
    border-color: gray;
    width: 220px;
    height: 45px;
    padding: 0 0 0 8px;
    font-size: 13px;
    
}

h3{
    padding: 10px 0 0 0;
    font-size: 18px;
}

#whatsIcon{
    width: 35px;
}

#box2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;

/* controla botoes do desktop */
}


.material-icons{
    color: white;
    
}

p{
    font-size: 10px;
}

#link{
    width: 320px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5px;
    user-select: none;
    padding: 2px 5px;

}


@media screen and (max-width: 767px){
    #geraLink{
        width: 300px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }

    #box2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 220px;
        height: 100px;
        gap: 8px;
    }
    
    #geraOLinkDesktop{
        display: none;
    }

    #abreOLinkDesktop{
        display: none;
    }
    
    #geraOLInkMobile{
        display: flex;
    }

    #abreOLinkMobile{
        display: flex;
    }

}
