*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}
/* fonte é o poppins */
/* body{ */

/* } */

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #196b10;
}

#geraLink{
    background-color: white;
    width: 380px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

button{
    background-color: #196b10;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 10px;
}

input{
    border-radius: 10px;
    border-color: gray;
    width: 220px;
    height: 45px;
    padding: 0 0 0 5px;
    font-size: 13px;
}

h3{
    padding: 10px 0 0 0;
    font-size: 18px;
}

#whatsIcon{
    width: 35px;
}

#botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 0 0 0;

}

.material-icons{
    color: white;
    
}